In [2]:
### Scores by School Type

#* Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

#As final considerations:

#* Use the pandas library and Jupyter Notebook.
#* You must submit a link to your Github/Git Lab repo that contains your Jupyter Notebook.
#* You must include a written description of at least two observable trends based on the data.
#* See [Example Solution](PyCitySchools/PyCitySchools_starter.ipynb) for a reference on the expected format.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [4]:
### District Summary

#* Create a high level snapshot (in table form) of the district's key metrics, including:
#  * Total Schools
#  * Total Students
#  * Total Budget
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math (The percentage of students that passed math.)
#  * % Passing Reading (The percentage of students that passed reading.)
#  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [5]:
#  * Total Schools
total_schools = len(school_data_complete["School ID"].unique())
total_schools

15

In [6]:
#  * Total Students
total_students = len(school_data_complete["Student ID"].unique())
total_students

39170

In [14]:
#  * Total Budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [16]:
#  * Average Math Score
math_average_score = student_data["math_score"].mean()
math_average_score

78.98537145774827

In [17]:
#  * Average Reading Score
reading_average_score = student_data["reading_score"].mean()
reading_average_score

81.87784018381414

In [18]:
#  * % Passing Math (The percentage of students that passed math.)
students_passed_math = student_data["math_score"] >= 70
percent_passed_math = students_passed_math.mean() * 100
percent_passed_math

74.9808526933878

In [19]:
#  * % Passing Reading (The percentage of students that passed reading.)
students_passed_reading = student_data["reading_score"] >= 70
percent_passed_reading = students_passed_reading.mean() * 100
percent_passed_reading

85.80546336482001

In [20]:
#  * % Overall Passing (The percentage of students that passed math **and** reading.)
percent_passed_overall = (percent_passed_math + percent_passed_reading)/2
percent_passed_overall

80.39315802910392

In [22]:
#  * Create a data frame to hold the above results
district_summary = [{"Total Schools": total_schools, "Total Students": total_students, "Total Budget": total_budget, "Average Math Score": math_average_score, "Average Reading Score": reading_average_score, "% Passing Math": percent_passed_math, "% Passing Reading": percent_passed_reading, "% Overall Rate": percent_passed_overall}]
district_summary_table = pd.DataFrame(district_summary)
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [7]:
### School Summary

#* Create an overview table that summarizes key metrics about each school, including:
#  * School Name
#  * School Type
#  * Total Students
#  * Total School Budget
#  * Per Student Budget
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math (The percentage of students that passed math.)
#  * % Passing Reading (The percentage of students that passed reading.)
#  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [8]:
### Top Performing Schools (By % Overall Passing)

#* Create a table that highlights the top 5 performing schools based on % Overall Passing. Include:
#  * School Name
#  * School Type
#  * Total Students
#  * Total School Budget
#  * Per Student Budget
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math (The percentage of students that passed math.)
#  * % Passing Reading (The percentage of students that passed reading.)
#  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [9]:
### Bottom Performing Schools (By % Overall Passing)

#* Create a table that highlights the bottom 5 performing schools based on % Overall Passing. Include all of the same metrics as above.

In [10]:
### Math Scores by Grade\*\*

#* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [11]:
### Reading Scores by Grade

#* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [12]:
### Scores by School Spending

#* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math (The percentage of students that passed math.)
#  * % Passing Reading (The percentage of students that passed reading.)
#  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [13]:
### Scores by School Size

#* Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).